alias l 'ls -l $COLOR'
alias ll 'ls -la $COLOR |more'
alias ls 'ls -F $COLOR'
alias sl 'ls -a1 $COLOR'
alias ncls 'ls --color=never'
alias .. 'cd .. && pwd'
alias ... 'cd ../.. && pwd'
alias .... 'cd ../../.. && pwd'
alias pu 'pushd .'
alias po 'popd'
alias hist 'history'
alias h 'history 10'
alias m 'less'
alias kill_all 'kill -9 \`ps -Af | grep $LOGNAME | awk "{print $2}"\`'
alias color 'setenv COLOR --color'
alias uncolor 'setenv COLOR'
alias xtname 'printf "\033]2;Desktop 2 - xterm\a"'
alias xtwide 'xterm -geometry 128x80 -bg black -fg white'

alias snapgl 'source ~/bin/snapgdir.sh'
alias setgl 'source ~/.gdir'
alias setg 'source ~/bin/setg.sh'
alias unsetg 'source ~/bin/unsetg.sh'
alias setprj 'pushd; g2 prj; cd bin; source $GDIR_prj/bin/setup.csh nolib; cd ..; source /net/delbin/usr1/cwortman/apps/tools/bin/modelsim'

alias gl 'env | grep GDIR'
alias g2 'source ~/bin/g2.sh'
